# Dependencias de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de configuración del OS
.DS_Store
Thumbs.db

# Archivos de IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.tmp
*.temp 